@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* 
{
    all: unset;
    user-select: none;
}

html,
body 
{
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

button
{
    cursor: pointer;
}

button.material-symbols-outlined
{
    border-radius: 20px;
    display: grid;
    height: 40px;
    place-items: center;
    width: 40px;
    transition: background-color ease 200ms;
}

button
{
    &:hover
    {
        background-color: #0001;
    }

    &:active
    {
        background-color: #0002;
    }
}

*::-webkit-scrollbar
{
    border-radius: 4px;
    background-color: #0001;
    width: 8px;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #999;
}

body
{
    display: grid;
    grid-template-rows: 64px 1fr;
    inset: 0;
    position: fixed;
}

header
{
    align-items: center;
    box-shadow: 1px 2px 2px 3px#0001;
    box-sizing: border-box;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 0 16px;

    & > span
    {
        font-size: 20px;
    }

    & > nav > ul
    {
        align-items: center;
        display: flex;
        gap: 8px;
    }
}

header > span.trailing-cursor::after
{
    animation: flickering 1s infinite;
    content: "";
    display: inline-block;
    height: 2px;
    margin-left: 2px;
    width: 8px;
}

main
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-self: center;
    margin: 24px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 24px;
    scroll-behavior: smooth;
    width: 90%;

    & > span
    {
        gap: 8px;
        align-items: center;
        display: flex;
        font-size: 24px;
        margin-top: 24px;
    }
}

*.card
{
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 3px#0001;
    overflow: hidden;
    padding: 16px;
    transition: transform ease 200ms;

    &:hover
    {
        transform: scale(1.05);
    }
}

section#hero
{
    display: grid;

    & > h1
    {
        font-size: 48px;
        line-height: 2;
    }

    & > h2
    {
        font-size: 24px;
        line-height: 1.6;

        &::after
        {
            animation: flickering 1s infinite;
            content: "";
            display: inline-block;
            height: 2px;
            margin-left: 2px;
            width: 16px;
        }
    }
}

section#projects
{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;

    & > div.card
    {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:hover
        {
            transform: none;
        }

        & > div
        {
            gap: 4px;
            display: flex;

            & > span.badge
            {
                border-radius: 8px;
                border: solid 1px;
                box-sizing: border-box;
                color: #999;
                font-size: 12px;
                height: 16px;
                padding: 2px 4px;

                &:first-child
                {
                    color: #ff9100;
                }

                &:nth-child(2)
                {
                    color: #00f;
                }

                &:last-child
                {
                    color: rgb(255, 208, 0);
                }
            }

            & > a > button
            {
                align-items: center;
                border-radius: 20px;
                box-sizing: border-box;
                display: flex;
                font-size: 16px;
                gap: 4px;
                height: 40px;
                padding: 0 8px;

                & > span.material-symbols-outlined
                {
                    font-size: inherit;
                }
            }

            &:last-child
            {
                gap: 16px;
                justify-content: end;
            }
        }
    }
}

section#tech
{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    align-items: center;


    & > a.card
    {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 8px;
        grid-template-columns: 64px 1fr;
        height: fit-content;
        justify-content: space-between;

        & > img
        {
            height: 64px;
            max-width: 128px;
        }
    }
}

section#jobs
{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;

    & > div.card
    {
        display: grid;
        gap: 4px;
        grid-template-columns: 160px 3fr min-content;
        grid-template-rows: 24px 16px 16px 1fr;
        height: 192px;

        &:hover
        {
            transform: scale(1.01);
        }


        & > img
        {
            grid-column: 1/2;
            grid-row: 1/5;
            max-height: 160px;
            max-width: 160px;
            place-self: center;
        }

        & > h1
        {
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 20px;
        }

        & > h2
        {
            grid-column: 2/4;
            grid-row: 2/3;
            font-size: 16px;

            & > a
            {
                background-color: transparent;
                border-radius: 8px;
                cursor: pointer;
                padding: 2px 4px;
                text-decoration: underline;
                transition: background-color ease 200ms;

                &:hover
                {
                    background-color: #0001;
                }
            }
        }

        & > h3
        {
            align-items: center;
            color: #0009;
            display: flex;
            flex-wrap: nowrap;
            font-size: 16px;
            grid-column: 3/4;
            grid-row: 1/2;
            white-space: nowrap;

            & > span.material-symbols-outlined
            {
                box-sizing: border-box;
                font-size: inherit;
                padding-right: 8px;
            }
        }

        & > p
        {
            box-sizing: border-box;
            font-size: 14px;
            grid-column: 2/4;
            padding-top: 16px;
        }
    }
}

@keyframes flickering {
    0%,
    100%
    {
        background-color: #000;
    }

    50%
    {
        background-color: transparent;
    }
}